*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:gainsboro !important;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: salmon;
    height: 600px;
}